body {
  color: #ffffff;
  background: #413f3b url("../images/");
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 90%;
  margin: 0px;
  
}
 


.navBar {
  background: #282828;
  font-family: QuicksandBook, Helvetica, Arial, san-serif;
  padding: 20px 0px 0px 0px;
  text-align: right;
}


h1, h2, h4 {
  font-family: QuicksandBook, Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ffbb33;
  
  padding: 60px 0px 0px 0px;

}

h3 {
  color: red;
  text-transform: uppercase;
  padding: 45px 0px 0px 0px;
  font: fantasy;
  font-weight: bold;
}

.wrapper {
  padding: 60px 0px 0px 40px;

}

.portfolio-projets-container {
  padding: 60px 0px 0px 45px;
}

p {
  color: #ffbb33;
}

.main-port-container {
  padding: 30px 0px 0px 30px;
}

a {
  color: #ffbb33;
}